<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>首页</title>
		<style>
			.el-col {
				margin-top: 40px;
			}
			
			#first {
				padding: 50px;
			}
			
			.image {
				margin: 10px;
				width: 50px;
				height: 50px;
				display: block;
			}
		</style>
	</head>

	<body>
		<div id="first" align="center">
			<h1 style="font-size: 26px;">欢迎使用汽修系统</h1>
			<el-row :gutter="50">
				<el-col :span="6" >
					<el-card  shadow="hover">
						<p>
							今日在修台次 <span>0</span>
						</p>
					</el-card>
				</el-col>
				<el-col :span="6" >
					<el-card  shadow="hover">
						<p>
							今日站内维修台次 <span>0</span>
						</p>
					</el-card>
				</el-col>
				<el-col :span="6" >
					<el-card  shadow="hover">
						<p>
							今日在修台次 <span>0</span>
						</p>
					</el-card>
				</el-col>
				<el-col :span="6" >
					<el-card  shadow="hover">
						<p>
							今日结算台次 <span>{{jsCount}}</span>
						</p>
					</el-card>
				</el-col>
				<el-col :span="6" >
					<el-card  shadow="hover">
						<p>
							今日金额收入 <span>{{jrMoney}}</span>
						</p>
					</el-card>
				</el-col>
			</el-row>
		</div>
	</body>
	<script>
		var first = new Vue({
			el: "#first",
			data:{
				jrMoney:0,
				jsCount:0
			},
			methods:{
				showCount(){
					let _this=this
					axios.get(`http://127.0.0.1:8080/dzw_sys/api/dzw_Sys/cwl/closeanaccount/selectCount`).then(function(resp) {
						_this.jrMoney=resp.data.count1
						_this.jsCount=resp.data.count2
					})
				}
			},
			mounted(){
				this.showCount()
			}
		})
	</script>

</html>