<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			#updateVehicleFileBrand {
				text-align: center;
			}
		</style>
	</head>

	<body>
		<div id="updateVehicleFileBrand">
			<el-form label-width="80px" :model="vehiclebrand">
				<el-form-item label="品牌编码">
					<el-input v-model="vehiclebrand.vbrandid" :disabled="true"></el-input>
				</el-form-item>
				<el-form-item label="品牌名称">
					<el-input v-model="vehiclebrand.vbrandname"></el-input>
				</el-form-item>
				<el-form-item label="首字母">
					<el-input v-model="vehiclebrand.vbrandno"></el-input>
				</el-form-item>
			</el-form>
			<el-button @click="updateVehicleBrand" type="primary">保存提交</el-button>
		</div>
	</body>
	<script>
		function closeUpdateModalBox() {
			vehicleFile.isShow = false;
		}

		function refresh() {
			vehicleFile.queryVehicleBrandAll();
		}

		var updateVehicleFileBrand = new Vue({
			el: "#updateVehicleFileBrand",
			data() {
				return {
					vehiclebrand: {
						vbrandid: '',
						vbrandno: '',
						vbrandname: ''
					}
				}
			},
			methods: {
				updateVehicleBrand() {
					let _this = this;
					if(_this.vehiclebrand.vbrandname != "" && _this.vehiclebrand.vbrandno != "") {
						axios.put('http://localhost:8080/dzw_sys/api/vehiclebrand/vehiclebrand', _this.vehiclebrand).then(function(resp) {
							if(resp.data.code == "200") {
								_this.$message.success('更新成功');
								closeUpdateModalBox();
								refresh();
							}
						}).catch(function(e) {
							console.log(e);
						});
					} else {
						_this.$alert('内容均不能为空！', '提示', {
							confirmButtonText: '确定',
							/*callback: action => {
								this.$message({
									type: 'info',
									message: `action: ${ action }`
								});
							}*/
						});
					}
				}
			},
			mounted() {
				let a = sessionStorage.getItem("vehiclebrand");
				let JSONa = JSON.parse(a);
				this.vehiclebrand = JSONa;
				//console.log(updateVehicleFile.vehiclebrand);
			}
		});
	</script>

</html>