<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>外勤车辆</title>
		<!--<link rel="stylesheet" type="text/css" href="../css/element.css" />-->
		<style type="text/css">
			.el-input {
				width: 130px;
			}
			
			#fieldOfVehicle {
				zoom: 0.8;
			}
			
			.el-tabs {
				width: 100%;
			}
			
			.hiddenContent {
				opacity: 0;
			}
		</style>
	</head>

	<body>
		<div id="fieldOfVehicle">
			<el-form :inline="true" :model="this.fieldOfVehicle" class="demo-form-inline">
				<el-form-item label="车牌号">
					<el-input v-model="fieldOfVehicle.carNumber" placeholder="车牌号"></el-input>
				</el-form-item>
				<el-form-item label="品牌">
					<el-input v-model="fieldOfVehicle.brand" placeholder="品牌"></el-input>
				</el-form-item>
				<el-form-item label="车型">
					<el-input v-model="fieldOfVehicle.carType" placeholder="车型"></el-input>
				</el-form-item>
				<el-form-item label="进厂时间">
					<el-input v-model="fieldOfVehicle.timeIntoTheFactory" placeholder="进厂时间"></el-input>
				</el-form-item>
				<el-form-item label="归属班组">
					<template>
						<el-select v-model="fieldOfVehicle.ownershipShift" :popper-append-to-body="false" placeholder="请选择">
							<el-option v-for="item in fieldOfVehicle.ownershipShifts" :key="item.index" :label="item.value" :value="item.value">
							</el-option>
						</el-select>
					</template>
				</el-form-item>
				<el-form-item>
					<i class="el-icon-edit"></i>
					<el-button type="text" @click="addFieldOfVehiclesInfos">增加</el-button>
					<i class="el-icon-close"></i>
					<el-button type="text" @click="removeFieldOfVehiclesInfos">删除</el-button>
					<i class="el-icon-check"></i>
					<el-button type="text" @click="modifyFieldOfVehiclesInfos">保存</el-button>
				</el-form-item>
			</el-form>
			<template>
				<el-table :data="fieldOfVehicles" @row-click="getIndex" style="width: 65%">
					<el-table-column prop="carnumber" label="车牌号" width="180">
					</el-table-column>
					<el-table-column prop="brand" label="品牌" width="180">
					</el-table-column>
					<el-table-column prop="cartype" label="车型">
					</el-table-column>
					<el-table-column prop="timeintothefactory" label="进厂时间">
					</el-table-column>
					<el-table-column prop="ownershipshift" label="归属班组">
					</el-table-column>

					<!--<el-table-column label="">
										<template slot-scope="scope">
											<input type="radio" @click="getIndex(scope.row)" name="radio"/>
										</template>
									</el-table-column>-->

				</el-table>
			</template>

		</div>
	</body>
	<!--<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/element.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/axios.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/axios_cfg.js" type="text/javascript" charset="utf-8"></script>-->
	<script type="text/javascript">
		var StarEmployees = new Vue({
			el: "#fieldOfVehicle",
			data() {
				return {
					fieldOfVehicle: {
						carNumber: "",
						brand: "",
						carType: "",
						timeIntoTheFactory: "",
						ownershipShifts: [{
								index: 1,
								value: "一"
							},
							{
								index: 2,
								value: "二"
							},
							{
								index: 3,
								value: "三"
							},
							{
								index: 4,
								value: "四"
							}
						],
						ownershipShift: ""
					},
					fieldOfVehicles: [],
					indexID: ""
				}
			},
			methods: {
				getFieldOfVehiclesInfos() {
					let _This = this;
					axios.get(`http://127.0.0.1:8080/dzw_sys/api/dzw_Sys/cwl/fieldOfVehicle/queryAll`).then(function(success) {
						_This.fieldOfVehicles = success.data;
						console.log(JSON.stringify(_This.fieldOfVehicles));
					}).catch(function(error) {
						console.log(error);
					});
				},
				getIndex(index) {
					/*this.$alert(JSON.stringify(index));*/
					this.fieldOfVehicle.carNumber = index.carnumber;
					this.fieldOfVehicle.brand = index.brand;
					this.fieldOfVehicle.carType = index.cartype;
					this.fieldOfVehicle.timeIntoTheFactory = index.timeintothefactory;
					this.fieldOfVehicle.ownershipShift = index.ownershipshift;
					this.indexID = index.carnumber;
				},
				addFieldOfVehiclesInfos() {
					if(this.fieldOfVehicle.carNumber == this.indexID) {
						this.$alert("carNumber is Already Exist");
						return false;
					}
					let _this = this;
					axios.post(`http://127.0.0.1:8080/dzw_sys/api/dzw_Sys/cwl/fieldOfVehicle/saveFieldOfVehicle`, this.fieldOfVehicle).then(function(success) {
						if(success.data.msg == "success") {
							_this.$alert("success");
							_this.getFieldOfVehiclesInfos();
						} else {
							_this.$alert("error");
						}
					}).catch(function(error) {
						console.log(error);
					});
				},
				modifyFieldOfVehiclesInfos() {
					let _this = this;
					axios.put(`http://127.0.0.1:8080/dzw_sys/api/dzw_Sys/cwl/fieldOfVehicle/modifyFieldOfVehicle`, this.fieldOfVehicle).then(function(success) {
						if(success.data.msg == "success") {
							_this.$alert("success");
							_this.getFieldOfVehiclesInfos();

						} else {
							_this.$alert("error");
						}
					}).catch(function(error) {
						console.log(error);
					});
				},
				removeFieldOfVehiclesInfos() {
					let _this = this;
					axios.delete(`http://127.0.0.1:8080/dzw_sys/api/dzw_Sys/cwl/fieldOfVehicle/FieldOfVehicle/${this.fieldOfVehicle.carNumber}`, ).then(function(success) {
						if(success.data.msg == "success") {
							_this.$alert("success");
							_this.getFieldOfVehiclesInfos();
						} else {
							_this.$alert("error");
						}
					}).catch(function(error) {
						console.log(error);
					});
				}
			},
			mounted() {
				this.getFieldOfVehiclesInfos();
			}
		});
	</script>

</html>